/*=========================
RESET
=========================*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:Arial, Helvetica, sans-serif;
    background:#f5f5f5;

}

/*=========================
HERO
=========================*/

.hero{

    height:100vh;

    background:url("../assets/img/hero.jpg") center center/cover no-repeat;

    position:relative;

    display:flex;

    justify-content:center;

    align-items:center;

}

.overlay{

    position:absolute;

    inset:0;

    background:linear-gradient(
        rgba(0,0,0,.65),
        rgba(0,0,0,.45)
    );

}

.hero-content{

    position:relative;

    z-index:10;

    color:white;

    text-align:center;

    animation:fadeHero 1.2s ease;

}

.hero-content h1{

    font-size:5rem;

    letter-spacing:8px;

    font-weight:bold;

}

.hero-content p{

    margin-top:20px;

    font-size:1.5rem;

    letter-spacing:2px;

}



/*=========================
CARDS
=========================*/

.card{

    border:none;

    border-radius:20px;

    overflow:hidden;

    transition:.4s;

    box-shadow:0 18px 40px rgba(0,0,0,.12);

    background:white;

}

.card:hover{

    transform:translateY(-12px);

    box-shadow:0 30px 60px rgba(0,0,0,.20);

}

.card img{

    height:250px;

    object-fit:cover;

    transition:.5s;

}

.card:hover img{

    transform:scale(1.08);

}

.price{

    color:#198754;

    font-size:1.5rem;

    font-weight:bold;

    margin:15px 0;

}
.icons{

    display:flex;

    justify-content:space-between;

    margin:15px 0;

}

.icons p{

    margin:0;

}

.btn-dark{

    background:#111;

    border:none;

    border-radius:40px;

    padding:12px;

    transition:.35s;

}

.btn-dark:hover{

    background:#b8860b;

}
@keyframes fadeHero{

from{

opacity:0;

transform:translateY(60px);

}

to{

opacity:1;

transform:translateY(0);

}

}
/*=========================
DARK MODE
=========================*/

.dark-btn{

    position:fixed;

    bottom:25px;

    right:25px;

    border:none;

    padding:14px 20px;

    border-radius:40px;

    background:#111;

    color:white;

    cursor:pointer;

    z-index:999;

}

.dark{

    background:#181818;

    color:white;

}

.dark .card{

    background:#262626;

    color:white;

}

.dark .price{

    color:#66ff99;

}
.card{

animation:fadeCard .6s ease;

}

@keyframes fadeCard{

from{

opacity:0;

transform:translateY(30px);

}

to{

opacity:1;

transform:translateY(0);

}

}